<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver-class-name}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialSize" value="${druid.initial-size}"/>
        <property name="maxActive" value="${druid.max-active}"/>
        <property name="minIdle" value="${druid.min-idle}"/>
        <property name="maxWait" value="${druid.max-wait}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${druid.time-between-eviction-runs-millis}"/>
        <property name="minEvictableIdleTimeMillis" value="${druid.min-evictable-idle-time-millis}"/>
        <property name="testOnBorrow" value="${druid.test-on-borrow}"/>
        <property name="testOnReturn" value="${druid.test-on-return}"/>
        <property name="testWhileIdle" value="${druid.test-while-idle}"/>
        <property name="validationQuery" value="${druid.validation-query}"/>
        <property name="validationQueryTimeout" value="${druid.validation-query-timeout}"/>
        <property name="keepAlive" value="${druid.keep-alive}"/>
        <property name="removeAbandoned" value="${druid.remove-abandoned}"/>
        <property name="removeAbandonedTimeout" value="${druid.remove-abandoned-timeout}"/>
        <property name="logAbandoned" value="${druid.log-abandoned}"/>
        <property name="filters" value="${druid.filters}"/>
        <property name="useGlobalDataSourceStat" value="${druid.use-global-data-source-stat}"/>
        <property name="poolPreparedStatements" value="${druid.preparedStatement}"/>
        <property name="maxOpenPreparedStatements" value="${druid.maxOpenPreparedStatements}"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>

    <!-- spring 整合mybatis-->
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.chenyue.blog.dao"/>
    </bean>

<!--    <mvc:default-servlet-handler/>-->

</beans>