<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyue.blog.dao.ArticleDao">
    <sql id="tb">article</sql>
    <sql id="baseColumns">
        article_id,
        article_user_id,
        article_title,
        article_content,
        article_view_count,
        article_comment_count,
        article_like_count,
        article_is_comment,
        article_status,
        article_order,
        article_create_time,
        article_update_time,
        article_summary
    </sql>
    <insert id="insert" parameterType="com.chenyue.blog.entity.Article" useGeneratedKeys="true" keyProperty="articleId" >
        INSERT INTO <include refid="tb"/>(<include refid="baseColumns"/>)
            VALUE (NULL
            ,#{articleUserId}
            ,#{articleTitle}
            ,#{articleContent}
            ,#{articleViewCount}
            ,#{articleCommentCount}
            ,#{articleLikeCount}
            ,#{articleIsComment}
            ,#{articleStatus}
            ,#{articleOrder}
            ,#{articleCreateTime}
            ,#{articleUpdateTime}
            ,#{articleSummary})
    </insert>

    <delete id="deleteById" parameterType="integer">
        DELETE FROM <include refid="tb"/> WHERE article_id = #{value}
    </delete>

    <update id="update" parameterType="com.chenyue.blog.entity.Article">
        UPDATE <include refid="tb"></include>
        <set>
            <if test="articleUserId != null">article_user_id = #{articleUserId},</if>
            <if test="articleTitle != null">article_title = #{articleTitle},</if>
            <if test="articleViewCount != null">article_view_count = #{articleViewCount},</if>
            <if test="articleLikeCount != null">article_like_count = #{articleLikeCount},</if>
            <if test="articleCommentCount != null">article_comment_count = #{articleCommentCount},</if>
            <if test="articleCreateTime != null">article_create_time = #{articleCreateTime},</if>
            <if test="articleUpdateTime != null">article_update_time = #{articleUpdateTime},</if>
            <if test="articleIsComment != null">article_is_comment = #{articleIsComment},</if>
            <if test="articleStatus != null">article_status = #{articleStatus},</if>
            <if test="articleOrder != null">article_order = #{articleOrder},</if>
            <if test="articleContent != null">article_content = #{articleContent},</if>
            <if test="articleSummary != null">article_summary = #{articleSummary},</if>
        </set>
        WHERE article_id = #{articleId}
    </update>

    <select id="findAll" parameterType="hashmap" resultType="com.chenyue.blog.entity.Article">
        SELECT article.*
        FROM <include refid="tb"/>
        <where>
            <if test="status != null">
                article.article_status = #{status}
            </if>
            <if test="keywords != null">
                AND article.article_title LIKE concat('%', #{keywords},'%')
            </if>
            <if test="userId != null">
                AND article.article_user_id = #{userId}
            </if>
            <if test="categoryId != null">
                AND article.article_id IN (
                SELECT article_category.article_id FROM article_category
                WHERE article_category.category_id = #{categoryId}
                )
            </if>
            <if test="tagId != null">
                AND article.article_id IN (
                SELECT article_tag.article_id FROM article_tag
                WHERE article_tag.tag_id = #{tagId}
                )
            </if>
        </where>
        ORDER BY `article`.`article_order` DESC , `article`.`article_id` DESC
    </select>

    <select id="getArticleByCategoryIds" parameterType="list" resultType="com.chenyue.blog.entity.Article">
        SELECT a.*
        FROM article AS a
        JOIN article_category AS ac ON a.article_id = ac.article_id
        WHERE ac.category_id IN <foreach open="(" close=")" separator="," collection="categoryIds" item="id">#{id}</foreach>

    </select>

    <select id="listArticleByLimit" parameterType="integer" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        ORDER BY article_id DESC LIMIT #{value}
    </select>

    <select id="listAllNotWithContent" resultType="com.chenyue.blog.entity.Article">
        SELECT article_id,article_user_id,article_title, article_create_time,article_update_time
        FROM <include refid="tb"></include>
        WHERE article_status = 1 ORDER BY article_id DESC
    </select>
    <select id="countArticle" resultType="integer" parameterType="integer">
        SELECT COUNT(*) FROM <include refid="tb"></include> WHERE article_status = #{status}
    </select>

    <select id="countArticleComment" resultType="integer">
        SELECT SUM(article_comment_count) FROM <include refid="tb"></include> WHERE article_status = 1
    </select>
    
    <select id="countArticleView" resultType="int" >
        SELECT SUM(article_view_count)
        FROm <include refid="tb"></include> WHERE article_status = 1
    </select>

    <select id="listArticle" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        WHERE article_status = 1
        ORDER BY article_status ASC, article_order DESC, article_id DESC
    </select>

    <select id="getArticleByStatusAndId"  resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        WHERE article_id = #{id} AND article_status = #{status}
    </select>

    <select id="listArticleByViewCount" parameterType="integer" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"/>
        FROM <include refid="tb"/>
        ORDER BY article_view_count DESC
        LIMIT #{value}
    </select>

    <select id="getPreviousArticle" parameterType="integer" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        WHERE article_id &gt; #{id} AND article_status > 1
        ORDER BY article_id LIMIT 1
    </select>

    <select id="getAfterArticle" parameterType="integer" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        WHERE article_id > #{id} AND article_status > 1
        ORDER BY article_id LIMIT 1
    </select>

    <select id="listRandomArticle" parameterType="integer" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"/>
        FROM <include refid="tb"/>
        WHERE article_status = 1
        ORDER BY RAND() LIMIT #{limit}
    </select>

    <select id="listArticleByCommentCount"  parameterType="integer" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        WHERE article_status = 1
        ORDER BY article_comment_count DESC, article_order DESC, article_id DESC
        LIMIT #{value}
    </select>

    <update id="updateCommentCount" parameterType="integer">
        UPDATE <include refid="tb"></include>
        SET article_comment_count = (SELECT COUNT(*) FROM `comment` WHERE article.article_id = `comment`.comment_article_id)
        WHERE article_id = #{article_id}
    </update>

    <select id="getLastUpdateArticle" resultType="com.chenyue.blog.entity.Article">
        SELECT <include refid="baseColumns"></include> FROM <include refid="tb"></include>
        WHERE article_status = 1
        ORDER BY article_comment_count DESC, article_order DESC, article_id DESC
        LIMIT #{limit}
    </select>

    <select id="countArticleByUserId" parameterType="integer" resultType="integer">
        SELECT COUNT(*) FROM <include refid="tb"></include> WHERE article_user_id = #{value}
    </select>

    <select id="getArticleByCategoryId" parameterType="integer" resultType="com.chenyue.blog.entity.Article" >
        SELECT <include refid="baseColumns"></include> FROM article AS a, article_category AS ac
        WHERE a.article_status = 1 AND a.article_id = ac.article_id AND ac.category_id = #{categoryId} LIMIT #{limit}
    </select>

    <delete id="deleteBatch" parameterType="list">
        DELETE FROM <include refid="tb"></include>
        <if test="ids != null">
            WHERE article_id IN
            <foreach collection="ids" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>
    </delete>
</mapper>